<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="card">
      <p><%=params[:question]%></p>
      <p>-you</p>
  </div>

  <div class="card">
    <p class="coach"><%=@answer%></p>
    <p class="coach">-your coach</p>
  </div>

  <a href="/ask">Ask a new question</a>
</div>
